<h1>Listing my_models</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @my_models.each do |my_model| %>
  <tr>
    <td><%= my_model.title %></td>
    <td><%= my_model.description %></td>
    <td><%= link_to 'Show', my_model %></td>
    <td><%= link_to 'Edit', edit_my_model_path(my_model) %></td>
    <td><%= link_to 'Destroy', my_model, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New My model', new_my_model_path %>
